.account-card {
    margin-top: 275px;
    margin-left: 150px;
    margin-right: 1000px;
    margin-bottom: 275px;
    border: 5px solid black;
    background-color: rgba(0, 68, 255, 0.808);
    border-radius: 25px;
    text-align: center;
}

p{
    font-size: 18px;
    font-weight: 250;
}

label{
    font-size: 18px;
    font-weight: 250;
}

.content-cuentas img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.main-content {
    padding: 100px 200px;
    display: flex;
    align-items: center;
}

#conversor {
    width: 30;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 20px;
    margin-top: 100px;
    margin: 10%;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.87);
}

#transf-img {
    width: 100%;
    height: 100%;
    align-items: center;
}

#botonCalculo {
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

#monto-prestamo {
    border-radius: 8px;
}

#tasa {
    border-radius: 8px;
}

#plazo-prestamo {
    border-radius: 8px;
}

.publicidad{
    margin-top: -695px;
    margin-left: 1200px;
}